In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.16.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (10.0 kB)
Collecting dnspython<3.0.0,>=2.6.1 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.16.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 13.4 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 11.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.16.0

In [2]:
from pymongo import MongoClient

MONGO_URI = "mongodb+srv://ashnashaikhwork_db_user:mangodb_123@cluster0.ruxuouw.mongodb.net/?appName=Cluster0"

client = MongoClient(MONGO_URI)

# database (yeh automatically ban jata hai)
db = client["air_quality_db"]

# collection (yeh bhi auto create hoti hai)
collection = db["aqi_features"]

print("Connected successfully")

Connected successfully

In [3]:
import pandas as pd

df = pd.read_csv("/content/aqi_features_v1.csv")
df.head()

,date,temperature,humidity,wind_speed,rain,pressure,pm25,pm10,no2,o3,...,aqi_lag_2,aqi_lag_3,aqi_change_rate,aqi_change_rate_3d,aqi_roll_3,aqi_roll_7,aqi_target_1d,aqi_target_2d,aqi_target_3d,aqi_delta_3d
0,2025-06-07,30.0,71,17.1,0.0,1006.3,23.320833,62.908333,7.533333,71.333333,...,77.145655,82.594373,-4.629630,-8.404558,76.718305,89.878498,72.569444,70.334758,70.245726,-3.944088
1,2025-06-08,30.0,70,16.6,0.0,1005.8,22.562500,53.975000,8.062500,75.750000,...,78.819444,77.145655,-1.620370,-4.576211,75.192901,85.433061,70.334758,70.245726,69.328704,-3.240741
2,2025-06-09,30.0,69,17.0,0.0,1004.6,21.516667,48.766667,7.937500,70.041667,...,74.189815,78.819444,-2.234687,-8.484687,72.364672,78.044872,70.245726,69.328704,59.668803,-10.665954
3,2025-06-10,30.4,68,17.7,0.0,1002.6,21.475000,49.366667,7.204167,71.500000,...,72.569444,74.189815,-0.089031,-3.944088,71.049976,75.128460,69.328704,59.668803,71.171652,0.925926
4,2025-06-11,30.3,73,16.5,0.0,1001.8,21.045833,45.662500,7.337500,69.666667,...,70.334758,72.569444,-0.917023,-3.240741,69.969729,73.233364,59.668803,71.171652,93.322650,23.993946

In [4]:
df["date"] = pd.to_datetime(df["date"])
df["date"].head()

0   2025-06-07
1   2025-06-08
2   2025-06-09
3   2025-06-10
4   2025-06-11
Name: date, dtype: datetime64[ns]

In [5]:
from pymongo import MongoClient

client = MongoClient(MONGO_URI)
db = client["aqi_feature_store"]
collection = db["aqi_features"]

records = df.to_dict("records")
collection.insert_many(records)

print("✅ AQI feature data inserted")

✅ AQI feature data inserted

In [6]:
collection.count_documents({})

225

In [7]:
collection.find_one()

{'_id': ObjectId('6985f9a0b732b189c26a1794'),
 'date': datetime.datetime(2025, 6, 7, 0, 0),
 'temperature': 30.0,
 'humidity': 71,
 'wind_speed': 17.1,
 'rain': 0.0,
 'pressure': 1006.3,
 'pm25': 23.320833333333336,
 'pm10': 62.90833333333333,
 'no2': 7.533333333333334,
 'o3': 71.33333333333333,
 'so2': 10.208333333333334,
 'aqi': 74.18981481481482,
 'aqi_lag_1': 78.81944444444444,
 'aqi_lag_2': 77.14565527065527,
 'aqi_lag_3': 82.59437321937321,
 'aqi_change_rate': -4.629629629629619,
 'aqi_change_rate_3d': -8.404558404558387,
 'aqi_roll_3': 76.71830484330484,
 'aqi_roll_7': 89.87849765974765,
 'aqi_target_1d': 72.56944444444444,
 'aqi_target_2d': 70.33475783475782,
 'aqi_target_3d': 70.2457264957265,
 'aqi_delta_3d': -3.9440883190883222}

In [8]:
data = list(collection.find({}, {"_id": 0}))
df_mongo = pd.DataFrame(data)

df_mongo.head()

,date,temperature,humidity,wind_speed,rain,pressure,pm25,pm10,no2,o3,...,aqi_lag_2,aqi_lag_3,aqi_change_rate,aqi_change_rate_3d,aqi_roll_3,aqi_roll_7,aqi_target_1d,aqi_target_2d,aqi_target_3d,aqi_delta_3d
0,2025-06-07,30.0,71,17.1,0.0,1006.3,23.320833,62.908333,7.533333,71.333333,...,77.145655,82.594373,-4.629630,-8.404558,76.718305,89.878498,72.569444,70.334758,70.245726,-3.944088
1,2025-06-08,30.0,70,16.6,0.0,1005.8,22.562500,53.975000,8.062500,75.750000,...,78.819444,77.145655,-1.620370,-4.576211,75.192901,85.433061,70.334758,70.245726,69.328704,-3.240741
2,2025-06-09,30.0,69,17.0,0.0,1004.6,21.516667,48.766667,7.937500,70.041667,...,74.189815,78.819444,-2.234687,-8.484687,72.364672,78.044872,70.245726,69.328704,59.668803,-10.665954
3,2025-06-10,30.4,68,17.7,0.0,1002.6,21.475000,49.366667,7.204167,71.500000,...,72.569444,74.189815,-0.089031,-3.944088,71.049976,75.128460,69.328704,59.668803,71.171652,0.925926
4,2025-06-11,30.3,73,16.5,0.0,1001.8,21.045833,45.662500,7.337500,69.666667,...,70.334758,72.569444,-0.917023,-3.240741,69.969729,73.233364,59.668803,71.171652,93.322650,23.993946